body {
    margin: 0 auto;
    background-color: blanchedalmond;
    height: 150vh;
    width: 100%;
}



header {
    display: flex;
    margin: 0 auto;
    background-color: rgb(49, 49, 49);
    width: 100%;
    height: 9vh;
    
}

header > div {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 5000px; 
    justify-content: stretch;
    align-items: center;
}

header ul {
   display: flex;
    width: 300px;
    /* background-color: cadetblue; */
    justify-content: space-between;
    margin-left: 15px;
}

header li a {
    color: white;
    font-size: 15px;
}

.container-one {
    width: 97.7%;
    height: 4.5vh;
    border: 15px solid  rgb(49, 49, 49);

}

.circle-one {
    margin-left: 20px;
    background-color: lightgray;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    display: inline-block;
    
}

.Search-Bar {
    border-radius: 10%;
    height: 30px;
    width: 270px;
    background-color: lightgray;
    display: inline-block;
    margin-left: 15px;
}

.Lower-Header {
    display: flex;
    margin: 0 auto;
    background-color: whitesmoke;
    width: 100%;
    height: 10vh;
    position: fixed;
    
}

.Lower-Header > div {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 5000px; 
    justify-content: stretch;
    align-items: center;
    /* position: fixed; */
}

.Lower-Header ul {
    display: flex;
     width: 300px;
     /* background-color: cadetblue; */
     justify-content: space-between;
     margin-left: 440px;
     margin-top: 25px;
     position: fixed;
 }

 .Lower-Header li a {
    display: flex;
    color: black;
    font-size: 20px;
    margin-left: 30px;
    /* position: fixed; */

}

.Left-Side {
    display: flex;
    margin-top: 10vh;
    background-color: whitesmoke;
    width: 31%;
    height: 100vh;
    flex-direction: column;
    
}

.Big-Circle {
    margin-left: 180px;
    background-color: lightgray;
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

.Left-Side ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    

}

.Left-Side li a {
    display: flex;
    color: black;
    font-size: 15px;
}

.Edit-Profile {
    display: flex;
    width: 100px;
    height: 30px;
    background-color: grey;
    margin-left: 140px;
    margin-top: 10px;
    justify-content: center;
}



